@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
    background-color:white;
    }
    @media screen and 
      (max-width: 700px){
        body {
          background-color: lightyellow;
        }
      }
      .mainbox {
        width: 1440px;
        padding: 5px;
        border: 2px solid blue;
       
      }  
      .topsection{
        display: flex;
        justify-content: center;
        
      }
      .smallbar{
        flex-direction: row;
        display: flex;
        justify-content: center;
        background-color: #050A30;
        justify-content: space-evenly;
        width: 800px;
        margin-right: 20px;
        font-size: 14pt;
        color: white;
        padding: 20px 15px;
        
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 10px;
        
      }  
      #btn1 {
        background-color: white;
        height: 40px;
        width: 120px;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        font-weight: 600;
        color: blue;
        cursor: pointer;
        
      }
      .navbar1{
        flex-direction: row;
        display: flex;
        background-color: rgb(24, 24, 216);
        justify-content: space-evenly;
        border: 1px white;
        color: white;
        padding-right: 30px;
        text-align: left;
        font-size: 18px;
      }
      .searchbar{
        display: flex;
        align-items: center;
        height:50px;
        padding-left:25px;   
        width: 400px;
        margin: 10px;
        margin-top: 20px;
        padding-top: 50px;
        padding: 5px;
        font-size: 17px;
        float: left;
        background: white;    
    }
    .searchbar input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }
    .searchbar > i {
        flex: 1;
        height: 40px;
    }
    .btn2{

        height: 40px;
        cursor: pointer;
        float: right;
        background: yellow;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .iconSection1{
        margin: 10px;
        margin-top: 20px;
        padding-top: 50px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
    }
    .iconSection2{
        margin: 10px;
        margin-top: 20px;
        padding-top: 50px;
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
        font-size: 18px;
        font-weight: 500;  
    }
    .cartCount{
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -15px;
        margin-left: -66px;
        border-radius: 11px;
        font-size: 14px;
        background-color: red;
        color: white ;
    }
    .iconSection1:link  {
        color: white;
        text-decoration: none;
      }
      
    .iconSection1:link a:visited {
        color: yellow;
       
      }
      .iconSection2:link  {
        color: white;
        text-decoration: none;
      }
      
    .iconSection2:link a:visited {
        color: yellow;
       
      }
    .searchbar > input{
        flex: 1;
        height: 40px;
        border: none;
        outline: none;
    }
    .navbar2{
        display: flex;
        justify-content: space-between;
        background-color: rgb(30, 30, 162);
        border: 1px white;
        padding: 20px;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    .nav-menu{
        display: flex;
        justify-content: left;
        align-items: center;
        list-style: none;
        gap: 30px;
        background-color: rgb(30, 30, 162);
        border: 1px white;
        padding: 20px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    .nav-menu hr{
        border: none;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background-color: red;
    }
    a:link {
        color: white;
        text-decoration: none;
      }
      
     a:visited {
        color: white;
      }
    
    .caption{
        padding: 50px 50px;
    } 

    .mainBox2{
        display: flex;
         background-color: aquamarine;
     }  
  
    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightyellow;
    }
    .content-box{
        width: 1000px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .card{
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .action-btns{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }
    .action-btns button{
        font-size: 15px;
        font-weight: 400;
        color: green;
        background-color: antiquewhite;
        border-radius: 6px;
        padding: 10px 25px;
        border: none;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    .action-btns button:hover{
         color: #ffffff;
         background-color: #002d36;
    }
   